/*
 * CSS that modifies base bootstrap should go in here
 */
 
 /* custom font */
 /* http://www.dafont.com/roboto.font */
@font-face{
	font-family: Roboto;
	src: url(../fonts/Roboto-Light.ttf);
}
 
body {
    background-color: #eceff1;
	font-family: Roboto;

}

header{
	height:200px;
	margin-top:-57px;
	margin-left:-8px;
	margin-right:-8px;
	background: url(../images/southWedgeBanner3.png) no-repeat top center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

#titleShop{
	position:relative;
	font-family:Roboto;
	font-size:65px;
	text-align:center;
	padding-top:85px;
	color:#FFFFFF;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

header a:hover{
	text-decoration:none;
}

.well {
    background-color: #cfd8dc;

}

footer { /* alignment for the footer */
 	text-align: center;
 	margin-top: 30em;
 	margin-left: auto;
 	margin-right: auto;
 	color: #9227B0;

}

footer ul li { /* alignment and styling for the links in the footer so they list horizontally */
	font-size: 1.25em;
 	display: inline;
 	list-style-type: none;
}

/*customize the carousel */
/* source - http://www.bootply.com/86170 */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}

.consignor-form { /* Consignor contact form <form> element */
  margin: 0 auto;
  width: 80%;
  padding-top: 20px;
}

/* Listing page css */
.listing-item { /* Item listing row cell */
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.listing-title {
  padding-top: 10px;
  text-align: center;
}
.listing-price { 
  text-align: center;
}
.listing-img { /* Item listing image sizing */
  display: block;
  padding-top: 20px;
  width: 150px;
  height: 200px;
  margin: 0 auto ;
}

/* Navbar styling 
 * http://work.smarchal.com/twbscolor/index.php
 */
.navbar-default {
  background-color: #483a85;
  border-color: #a49cfa;
}
.navbar-default .navbar-brand {
  color: #f6f6f6;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fcfcfc;
}
.navbar-default .navbar-text {
  color: #f6f6f6;
}
.navbar-default .navbar-nav > li > a {
  color: #f6f6f6;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fcfcfc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fcfcfc;
  background-color: #a49cfa;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fcfcfc;
  background-color: #a49cfa;
}
.navbar-default .navbar-toggle {
  border-color: #a49cfa;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #a49cfa;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f6f6f6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f6f6f6;
}
.navbar-default .navbar-link {
  color: #f6f6f6;
}
.navbar-default .navbar-link:hover {
  color: #fcfcfc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f6f6f6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fcfcfc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fcfcfc;
    background-color: #a49cfa;
  }
}

/* these media queries are for the header title */

@media (max-width:780px){
	#titleShop{
		font-size:55px;
	}
}

@media (max-width:663px){
	#titleShop{
		font-size:45px;
	}
}

@media (max-width:539px){
	#titleShop{
		font-size:45px;
	}
}

@media (max-width:264px){
	#titleShop{
		font-size:35px;
	}
}